<h1><%= t(:address_book) %></h1>

<table>
  <tr>
    <th><%= t(:title) %></th>
    <th><%= t(:web) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @firms.each do |firm| %>
  <tr>
    <td><%= firm.title %></td>
    <td><%= firm.web %></td>
    <td><%= link_to t(:show), firm %></td>
    <td><%= link_to t(:edit), edit_firm_path(firm) %></td>
    <td><%= link_to t(:destroy), firm, confirm: t(:confirm), method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t(:new_firm), new_firm_path %>
