<p id="notice"><%= notice %></p>

<p>
  <b><%= t(:name) %>:</b>
  <%= @contact.name %>
</p>

<p>
  <b><%= t(:email) %>:</b>
  <%= @contact.email %>
</p>

<p>
  <b><%= t(:phone) %></b>
  <%= join_phones(@contact) %>
</p>


<%= link_to t(:edit), edit_contact_path(@contact) %> |
<%= link_to t(:back), contacts_path %>
