<%= form.fields_for :tags do |tag_form| %>
  <div class="field">
    <%= tag_form.label :name, t(:tag) %>
    <% unless tag_form.object.nil? || tag_form.object.new_record? %>
      <span class="field">
        <%= tag_form.check_box :_destroy %>
        <%= tag_form.label :_destroy, t(:remove) %>
      </span>
    <% end %>
    <br />
    <%= tag_form.text_field :name %>
  </div>

<% end %>
